<section class="movie">
  <div class="image">
    <%= image_tag @movie.picture_file_name %>
  </div>
  <div class="summary">
    <h2><%= @movie.name %> (<%= @movie.theme %>)</h2>
    From <%= @movie.country %>, 
    had a budget of <%= number_to_currency(@movie.budget)%>, 
    out in <strong><%= @movie.year %></strong>. 
    <div class="rating">Rating <%= @movie.rating %>/5</div>
    <p><%= @movie.description %></p>
    <div class="review">
      <% if @movie.has_enough_reviews? %>
        <span>There are enough reviews</span>
      <% else %>
        <%= link_to "Write a review", new_movie_review_path(@movie) %>
      <% end %>
      <%#= link_to "Write a review", new_movie_review_path(@movie) %>
      <p><%= link_to "Who has written a review?", movie_reviews_path(@movie) %></p>
    </div>
  </div>
</section>
<section class="admin">
  <%= link_to "edit", edit_movie_path(@movie) %>
  <%= link_to "delete", @movie, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</section>